name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'
    - name: Run tests
      run: go test -v ./...

  deploy:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    if: github.ref == 'refs/heads/main'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'
    - name: 'Google auth'
      uses: 'google-github-actions/auth@v3'
      with:
        service_account: ${{ secrets.SERVICE_ACCOUNT_NAME }}
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER_NAME }}
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v3'
      with:
        version: '>= 363.0.0'
    - name: 'Docker auth'
      run: |-
        gcloud auth configure-docker ${{ vars.REGION }}-docker.pkg.dev --quiet
    - name: 'Build and push container'
      run: ./build_container.sh -p -r ${{ vars.REGION }} -t ${{ vars.TAG }} -v ${{ github.sha }}
    - name: 'Upload config'
      uses: 'google-github-actions/upload-cloud-storage@v3'
      with:
        path: '.'
        parent: false
        destination: 'hero_config_data'
        glob: '*.conf'
        gzip: false
    - name: 'Deploy Cloud Run'
      uses: 'google-github-actions/deploy-cloudrun@v3'
      with:
        service: 'ow-hero-roller'
        image: ${{ vars.REGION }}-docker.pkg.dev/${{ vars.TAG }}:${{ github.sha }}
        secrets: |-
          BOT_TOKEN=discord_bot_token:1
          TENOR_API_KEY=tenor_api_key:1
          PUBLIC_KEY=discord_public_key:1
          GIPHY_API_KEY=giphy_api_key:1
          KLIPY_API_KEY=klipy_api_key:1
        flags: '"--args=-d=/usr/local/hero_data/hero_data.conf,-g=klipy"'
        region: ${{ vars.REGION }}
        project_id: ${{ vars.PROJECT_ID }}
        env_vars: |-
          KLIPY_GIF_LIMIT="5"
